#The categories are the fields needed by the AWS profile.
export OP_SERVICE_ACCOUNT_TOKEN=< your service account number here>
export VAULT_NAME=<vault name>
export ITEM=<item_name>
export CATEGORY1=<cat_1_value>
export CATEGORY2=<cat_2_value>
export CATEGORY3=<cat_3_value>
export CATEGORY4=<cat_4_value>
export CATEGORY5=<cat_5_value>
export CATEGORY6=<cat_6_value>

